.form{
    &__input{
        padding: 5px 10px;
        border-radius: 15px;
        display: block;
        border:1px solid grey;
        margin-bottom: 10px;
    }
    &__button{
        background-color: rgb(131, 97, 233);
        padding: 5px 10px;
        border-radius: 15px;
        border:1px solid grey;
        color: white;
        font: arial;
    }
}